# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the commonly used libraries used by Data Scientists include:
1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. install.packages
2. ggplot
3. pandas

|Data Science Tools|
:----:
|Anaconda|
|Jupyter|
|Jupyter Lite|
--------------

### Below are a few examples of evaluating arithmetic expressions in Python

(3*4)+5

In [9]:
# This a simple arithmetic expression to multiply then add

In [37]:
200 / 60

3.3333333333333335

In [ ]:
# This will convert 200 minutes to hours by diving by 60

**Objectives:**

![Utilizador_0.pgn](attachment:Utilizador_0.png)

## Author:
Edmilson Pimenta